venv/
.env
*.pyc
__pycache__/
db.sqlite3
/static/
media/
*.log
*.pot
*.mo
*.swp
.DS_Store
.idea/
.vscode/
*.bak
*.tmp
node_modules/
coverage/
htmlcov/
*.sqlite3
local_settings.py
# Migration files
uploadvideo/core/migrations/